html {
    font-size: 62.5%; // 1rem is 10px
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'montserrat';
}

body {
    overflow-x: hidden;
    font-weight: normal;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
}

.app {
    margin-top: 2rem;
    display: grid;
    justify-items: center;
}

@import "./variables.scss";
@import "./mixins.scss";
@import "./bases.scss";
@import "./forms.scss";
@import "./button.scss";
@import "./grid.scss";
@import "./navbar.scss";
@import "./layouts.scss";
@import "./home.scss";
@import "./portfolio.scss";
@import "./portfolio-manager.scss";
@import "./portfolio-form.scss";
@import "./portfolio-sidebar.scss";
@import "./portfolio-detail.scss";
@import "./resume.scss";
@import "./auth.scss";
@import "./blog.scss";
@import "./blog-form.scss";
@import "./loaders.scss";
@import "./modals.scss";
@import "./react-draft-wysiwyg.scss";
@import "./rich-text-editor.scss";